.vv-chat-app-header__message-list{
    padding: 24px;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;

    .message {
        max-width: 70%;
        padding: 10px 14px;
        border-radius: 18px;
        line-height: 1.4;
        font-size: 15px;
        position: relative;
        word-wrap: break-word;
        &.user {
            background-color: #0084ff;
            color: white;
            align-self: flex-end;
            border-bottom-right-radius: 4px;
        }

        &.bot {
            background-color: #f1f0f0;
            color: black;
            align-self: flex-start;
            border-bottom-left-radius: 4px;
        }
    }
}